@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
  --red: hsl(308, 72%, 28%);
  --purple: hsl(256, 75%, 32%);
  --purpleL: hsl(256, 69%, 45%);
  --purpleD: hsl(256, 71%, 13%);
  --purpleS: hsl(256, 55%, 75%);
  --pink: hsl(348, 100%, 70%);
  --skyBlue: hsl(200, 85%, 52%);
  --back: hsl(0, 0%, 94%);
  --gray: hsl(0, 7%, 30%);
  --backD: hsl(240, 3%, 12%);
  --nText: hsl(138, 10%, 80%);

  --bigFont: "Russo One", sans-serif;
  --heading: "Poppins", sans-serif;
  --desc: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--heading);
  background-color: var(--back);
  overflow-x: hidden;
}

.logo a {
  color: #000;
}

header,
.about-container,
.hero,
.project-container,
.nav-title,
.contacts,
.more-projects {
  padding-inline: 15.5vw 14vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.theme-toggle {
  width: 50px;
  height: 20px;
  border: 2px solid var(--gray);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-inline: 5px;
  transition: all 250ms ease-in-out;
}
.theme-toggle div {
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--gray);
}

.btn-purp,
.btn-white {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 8px;
  border: 1px solid var(--purple);
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.btn-purp:hover,
.btn-white:hover {
  transition: all 500ms ease-in-out;
}

.btn-purp {
  background-color: var(--purple);
  color: var(--back);
}
.btn-purp:hover {
  background-color: var(--purpleS);
  border-color: var(--purpleS);
  color: var(--purpleD);
}

.btn-white {
  background-color: var(--back);
  color: var(--purple);
}
.btn-white:hover {
  background-color: var(--purple);
  color: var(--back);
}

.dark {
  background: var(--backD);
  color: var(--nText);
}
.dark .nav-bar li a {
  color: var(--nText);
}
.dark .nav-bar li a:hover {
  color: var(--purpleS);
  border-bottom: 3px solid var(--purpleS);
}
.dark .logo a {
  color: var(--nText);
}
.dark .theme-toggle {
  border: 2px solid var(--purpleS);
  transition: all 250ms ease-in-out;
}
.dark .theme-toggle div {
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--purpleS);
}
.dark .theme-toggle::after {
  color: var(--back);
}
.dark main h1 span {
  color: var(--purpleS);
}
.dark main .b2 {
  background: var(--nText);
}
.dark main span i {
  color: var(--purpleS);
}
.dark main .project-1,
.dark main .project-3 {
  background: linear-gradient(90deg, var(--purple) 0%, var(--backD) 100%);
}
.dark main .project-2 {
  background: linear-gradient(90deg, var(--backD) 0%, var(--purple) 100%);
}
.dark .proj-desc {
  color: var(--nText);
}
.dark .proj-desc button {
  background: var(--purpleS);
  color: black;
}
.dark .proj-desc button:hover {
  background-color: wheat;
}
.dark .curves .shape-fill {
  fill: var(--backD);
}
.dark main .contact-container,
.dark main .contacts {
  background: var(--purple);
}
.dark .projects-demo {
  background-color: var(--backD);
  box-shadow: 3px 3px 5px 4px var(--purple);
}
.dark .projects-demo p {
  color: #ccc;
}
.dark .about-project .title span {
  background-color: #555;
} /*# sourceMappingURL=global.css.map */
