@import "./variables";

@mixin flexCenter($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: $heading;
  background-color: $back;
  overflow-x: hidden;
}

.logo a {
  color: #000;
}

header,
.about-container,
.hero,
.project-container,
.nav-title,
.contacts,
.more-projects {
  padding-inline: 15.5vw 14vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.material-icons.hidden {
  display: none;
}

.hidden {
  display: none;
}

.btn-purp,
.btn-white {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 12px;
  border: 1px solid $purple;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  &:hover {
    transition: all 500ms ease-in-out;
  }
}

.btn-purp {
  background-color: $purple;
  color: $back;
  &:hover {
    background-color: $back;
    color: $purple;
  }
}

.btn-white {
  background-color: $back;
  color: $purple;
  &:hover {
    background-color: $purple;
    color: $back;
  }
}

.dark {
  background: $backD;
  color: $nText;

  nav a {
    color: $nText;

    &:hover {
      color: $purpleS;
      border-bottom: 3px solid $purpleS;
    }
  }

  .logo a {
    color: $nText;
  }

  main h1 span {
    color: $purpleS;
  }

  main .b2 {
    background: $nText;
  }

  main span i {
    color: $purpleS;
  }

  main .project-1,
  main .project-3 {
    background: linear-gradient(90deg, $backD 0%, $purple 100%);
  }

  main .project-2 {
    background: linear-gradient(90deg, $purple 0%, $backD 100%);
  }

  .proj-desc {
    color: $nText;

    button {
      background: $purpleS;
      color: black;

      &:hover {
        background-color: wheat;
        // transition: 300ms ease-in-out;
      }
    }
  }

  .curves .shape-fill {
    fill: $backD;
  }

  main .contact-container,
  main .contacts {
    background: $purple;
  }

  .projects-demo {
    background-color: $backD;
    box-shadow: 4px 4px 5px 5px $purple;
  }

  .about-project .title span {
    background-color: #555;
  }
}
