@import "./global.css";

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  flex: 2;
}

.burger {
  flex-direction: column;
  gap: 7px;
  display: none;
  z-index: 3;
  cursor: pointer;
}
.burger div {
  width: 35px;
  height: 5px;
  background-color: #333;
  transition: all 500ms ease-in-out;
}

.burger.active .b1 {
  transform: translateY(12px) rotate(45deg);
  transition: all 600ms ease-in-out;
  background-color: var(--pink);
}
.burger.active .b2 {
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.burger.active .b3 {
  transform: translateY(-12px) rotate(-45deg);
  transition: all 600ms ease-in-out;
  background-color: var(--pink);
}

.nav-bar ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav-bar li a {
  font-size: 1rem;
  color: var(--gray);
  position: relative;
  transition: all 350ms ease-in-out;
  padding-bottom: 0;
  border-bottom: 0px solid var(--gray);
}
.nav-bar li a:hover {
  color: var(--purple);
  padding-bottom: 10px;
  border-bottom: 3px solid var(--purple);
  transition: all 250ms ease-in-out;
}

.theme-toggle {
  cursor: pointer;
  position: relative;
}
.theme-toggle::after {
  content: "Theme";
  color: var(--gray);
  font-size: 0.85rem;
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: 10%;
  top: 120%;
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.5em;
}
.hero-desc h1 {
  font-size: 2.7rem;
  font-family: "Russo One", sans-serif;
}
.hero-desc h1 span {
  color: var(--purple);
}
.hero-desc p {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  max-width: 56ch;
}
.hero-desc button {
  margin-bottom: 8px;
  margin-right: 7px;
}

.hero-img {
  margin-top: 5em;
  width: 750px;
}
.hero-img img {
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}
.project-container img {
  height: 100%;
}
.project-container .project-1,
.project-container .project-2,
.project-container .project-3 {
  position: relative;
  background: linear-gradient(90deg, var(--purpleS) 0%, var(--back) 100%);
  height: 250px;
  margin-bottom: 6em;
  border-radius: 5px;
}
.project-container .project-1 .proj,
.project-container .project-2 .proj,
.project-container .project-3 .proj {
  position: absolute;
  top: -50px;
  height: 380px;
  padding: 0;
  transition: 250ms ease-in-out;
}
.project-container .project-1 .proj:hover,
.project-container .project-2 .proj:hover,
.project-container .project-3 .proj:hover {
  height: 420px;
  top: -60px;
  transition: 300ms ease-in-out;
}
.project-container .project-1 .proj-desc,
.project-container .project-2 .proj-desc,
.project-container .project-3 .proj-desc {
  flex: 2;
  margin-top: 40px;
  margin-left: 40%;
}
.project-container .project-1 .proj {
  left: -75px;
}
.project-container .project-3 .proj {
  left: -30px;
}
.project-container .project-2 {
  background: linear-gradient(90deg, var(--back) 0%, var(--purpleS) 100%);
}
.project-container .project-2 .proj {
  height: 290px;
  top: -20px;
  right: -50px;
}
.project-container .project-2 .proj:hover {
  height: 315px;
  top: -30px;
}
.project-container .project-2 .proj-desc {
  margin-left: 5%;
  margin-right: 40%;
}
.project-container .project-3 {
  margin-bottom: 5.25em;
}
.project-container .project-3 .proj {
  height: 320px;
}
.project-container .project-3 .proj:hover {
  height: 355px;
}
.project-container button {
  font-size: 1rem;
  margin-right: 10px;
  margin-bottom: 5px;
}
.project-container button:hover {
  background: var(--purple);
  color: var(--back);
}
.project-container .more {
  border: 2px solid var(--purple);
  font-weight: bold;
  border-radius: 0;
  align-self: center;
  margin-block: 10px 50px;
}

.contact-container {
  background: var(--purple);
  position: relative;
  padding-top: 5px;
}

.curves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.curves h1 {
  font-size: 2rem;
  color: white;
  margin-top: -16px;
}

.curves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 99px;
}

.curves .shape-fill {
  fill: var(--back);
}

.contacts {
  margin-top: 4.8em;
  background: var(--purple);
  color: var(--nText);
  display: flex;
  justify-content: center;
  gap: 64px;
  padding-block: 48px;
}
.contacts h1 {
  font-size: 38px;
  margin-block: 0;
}
.contacts p {
  max-width: 48ch;
}
.contacts .contact-desc {
  flex: 4;
}
.contacts .form {
  flex: 3;
}
.contacts form {
  display: grid;
  flex-direction: column;
  gap: 25px;
}

.contacts form input,
.contacts form textarea,
.contacts form button {
  border: 1px solid var(--purpleS);
  padding: 0.7em 0.4em;
  padding-left: 20px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: var(--nText);
  color: var(--back);
}
.contacts form button {
  padding: 0.7em 0.4em;
  background-color: var(--red);
  border: 0;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}
.contacts form button:hover {
  background: var(--purpleL);
  transition: 400ms ease-in-out;
}
.contacts .contact-links {
  width: 45ch;
  margin-top: 1.9em;
  display: flex;
  justify-content: space-between;
}
.contacts .contact-links i {
  color: white;
}
.contacts .contact-links i:hover {
  color: var(--backD);
  transition: 300ms ease-in-out;
}
.contacts .contact-links span {
  font-size: 13px;
  display: flex;
  max-width: 60px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 1.5em;
}

footer {
  background-color: rgb(48, 44, 44);
  text-align: center;
  padding: 0.375em 0;
  color: white;
} /*# sourceMappingURL=main.css.map */
