@import "./global";

@media only screen and (max-width: 1120px) {
  nav ul,
  .theme {
    display: none;
  }

  .head {
    transition: all 0.3s ease-in-out;
  }

  .burger {
    display: flex;
  }

  main {
    position: sticky;
    top: 80px;
  }

  .nav-bar {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: fixed;
    width: 250px;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: $purple;
    height: 100vh;
    transform: translateX(250px);
    transition: all 350ms ease-in-out;

    ul {
      align-items: start;
      flex-direction: column;
      margin-left: 40px;
    }

    li a {
      color: white;
    }
  }

  .nav-bar.active {
    transform: translateX(0px);
    transition: all 600ms ease-in-out;
  }

  .theme {
    display: flex;
    margin-bottom: 30px;
    margin-left: 78px;
    align-items: start;
    justify-content: center;
  }

  .material-icons.t_on,
  .material-icons.t_off {
    color: white;

    &::after {
      left: 0;
      top: 88%;
    }
  }

  .hero {
    margin-top: 3em;
    flex-direction: column;
    height: auto;
    justify-content: center;

    &-img {
      width: 300px;
      margin-left: 0;
    }
  }

  .project-container {
    padding-inline: 0;

    .proj {
      top: 0;
      left: calc(50% - 184px);
    }

    img {
      height: 275px;
    }

    .project-1,
    .project-2,
    .project-3 {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-around;
      height: calc((-1 * 100vw) + 1100px);
      min-height: 470px;
      left: 0;
      border-radius: 0;

      .proj-desc {
        margin: 0;
        margin-top: 142px;
        padding-inline: 42px;
        padding-bottom: 36px;
      }
    }
  }

  .project-2,
  .project-3 {
    img {
      height: 232px;
    }
  }

  .contacts {
    .contact-links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 675px) {
  .projects-demo {
    width: 100%;
  }

  .contacts {
    form {
      gap: 5px;

      button {
        margin-bottom: 16px;
      }
    }

    .contact-links {
      display: flex;
      flex-direction: column;

      span {
        margin: 0;
        padding: 1em 0.5em;
      }
    }
  }
}
