@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/*Colors*/
/*Fonts*/
* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 99%);
  overflow-x: hidden;
}

.logo a {
  color: #000;
}

header,
.about-container,
.hero,
.project-container,
.nav-title,
.contacts,
.more-projects {
  padding-inline: 15.5vw 14vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.material-icons.hidden {
  display: none;
}

.hidden {
  display: none;
}

.btn-purp,
.btn-white {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 12px;
  border: 1px solid hsl(256, 75%, 32%);
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.btn-purp:hover,
.btn-white:hover {
  transition: all 500ms ease-in-out;
}

.btn-purp {
  background-color: hsl(256, 75%, 32%);
  color: hsl(0, 0%, 99%);
}
.btn-purp:hover {
  background-color: hsl(0, 0%, 99%);
  color: hsl(256, 75%, 32%);
}

.btn-white {
  background-color: hsl(0, 0%, 99%);
  color: hsl(256, 75%, 32%);
}
.btn-white:hover {
  background-color: hsl(256, 75%, 32%);
  color: hsl(0, 0%, 99%);
}

.dark {
  background: hsl(240, 3%, 12%);
  color: hsl(138, 10%, 80%);
}
.dark nav a {
  color: hsl(138, 10%, 80%);
}
.dark nav a:hover {
  color: hsl(256, 55%, 75%);
  border-bottom: 3px solid hsl(256, 55%, 75%);
}
.dark .logo a {
  color: hsl(138, 10%, 80%);
}
.dark main h1 span {
  color: hsl(256, 55%, 75%);
}
.dark main .b2 {
  background: hsl(138, 10%, 80%);
}
.dark main span i {
  color: hsl(256, 55%, 75%);
}
.dark main .project-1,
.dark main .project-3 {
  background: linear-gradient(90deg, hsl(240, 3%, 12%) 0%, hsl(256, 75%, 32%) 100%);
}
.dark main .project-2 {
  background: linear-gradient(90deg, hsl(256, 75%, 32%) 0%, hsl(240, 3%, 12%) 100%);
}
.dark .proj-desc {
  color: hsl(138, 10%, 80%);
}
.dark .proj-desc button {
  background: hsl(256, 55%, 75%);
  color: black;
}
.dark .proj-desc button:hover {
  background-color: wheat;
}
.dark .curves .shape-fill {
  fill: hsl(240, 3%, 12%);
}
.dark main .contact-container,
.dark main .contacts {
  background: hsl(256, 75%, 32%);
}
.dark .projects-demo {
  background-color: hsl(240, 3%, 12%);
  box-shadow: 4px 4px 5px 5px hsl(256, 75%, 32%);
}
.dark .about-project .title span {
  background-color: #555;
}

@media only screen and (max-width: 1120px) {
  nav ul,
  .theme {
    display: none;
  }
  .head {
    transition: all 0.3s ease-in-out;
  }
  .burger {
    display: flex;
  }
  main {
    position: sticky;
    top: 80px;
  }
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: fixed;
    width: 250px;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: hsl(256, 75%, 32%);
    height: 100vh;
    transform: translateX(250px);
    transition: all 350ms ease-in-out;
  }
  .nav-bar ul {
    align-items: start;
    flex-direction: column;
    margin-left: 40px;
  }
  .nav-bar li a {
    color: white;
  }
  .nav-bar.active {
    transform: translateX(0px);
    transition: all 600ms ease-in-out;
  }
  .theme {
    display: flex;
    margin-bottom: 30px;
    margin-left: 78px;
    align-items: start;
    justify-content: center;
  }
  .material-icons.t_on,
  .material-icons.t_off {
    color: white;
  }
  .material-icons.t_on::after,
  .material-icons.t_off::after {
    left: 0;
    top: 88%;
  }
  .hero {
    margin-top: 3em;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .hero-img {
    width: 300px;
    margin-left: 0;
  }
  .nav-title {
    text-align: center;
    margin-top: 48px;
  }
  .project-container {
    padding-inline: 0;
    gap: 24px;
  }
  .project-container img {
    height: 275px;
  }
  .project-container .project-1,
  .project-container .project-2,
  .project-container .project-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 450px;
    border-radius: 0;
    gap: 0;
  }
  .project-container .project-1 .proj-desc,
  .project-container .project-2 .proj-desc,
  .project-container .project-3 .proj-desc {
    text-align: center;
    margin: 0;
    padding-inline: 42px;
    padding-bottom: 36px;
  }
  .project-container .project-1 .proj,
  .project-container .project-2 .proj,
  .project-container .project-3 .proj {
    position: relative;
    inset: 0;
  }
  .project-2 {
    flex-direction: column-reverse !important;
  }
  .project-2 img,
  .project-3 img {
    height: 232px;
  }
  .contacts .contact-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 675px) {
  .projects-demo {
    width: 100%;
  }
  .proj-game img {
    height: auto;
  }
  .contacts form {
    gap: 5px;
  }
  .contacts form button {
    margin-bottom: 16px;
  }
  .contacts .contact-links {
    display: flex;
    flex-direction: column;
  }
  .contacts .contact-links span {
    margin: 0;
    padding: 1em 0.5em;
  }
}/*# sourceMappingURL=responsive.css.map */