@import "./global.css";

@media only screen and (max-width: 1120px) {
  nav ul,
  .theme {
    display: none;
  }
  .head {
    transition: all 0.3s ease-in-out;
  }
  .burger {
    display: flex;
  }
  main {
    position: sticky;
    top: 80px;
  }
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: fixed;
    width: 250px;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: hsl(256, 75%, 32%);
    height: 100vh;
    transform: translateX(250px);
    transition: all 350ms ease-in-out;
  }
  .nav-bar ul {
    align-items: start;
    flex-direction: column;
    margin-left: 40px;
  }
  .nav-bar li a {
    color: white;
  }
  .nav-bar.active {
    transform: translateX(0px);
    transition: all 600ms ease-in-out;
  }
  .theme-toggle {
    border: 1px solid var(--back);
  }
  .theme-toggle div {
    background-color: var(--back);
  }
  .theme-toggle::after {
    color: white;
  }

  .hero {
    margin-top: 1.6em;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .hero-img {
    width: 300px;
    margin-left: 0;
  }
  .nav-title {
    text-align: center;
    margin-top: 56px;
  }
  .project-container {
    padding-inline: 0;
  }
  .project-container .project-1,
  .project-container .project-2,
  .project-container .project-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 450px;
    border-radius: 0;
    gap: 0;
  }

  .project-2 img {
    height: 200px;
  }
  .project-3 img,
  .project-1 img {
    height: 220px;
  }
  .project-container .project-1 .proj-desc,
  .project-container .project-2 .proj-desc,
  .project-container .project-3 .proj-desc {
    text-align: center;
    margin: 0;
    padding-inline: 10px;
    padding-bottom: 36px;
  }
  .project-container .project-1 .proj-desc,
  .project-container .project-3 .proj-desc {
    margin-top: -42px;
  }

  .project-container .project-1 .proj,
  .project-container .project-2 .proj,
  .project-container .project-3 .proj {
    position: relative;
    inset: 0;
  }
  .project-container .project-1 .proj,
  .project-container .project-3 .proj {
    top: -50px;
  }
  .project-2 {
    flex-direction: column-reverse !important;
  }

  .contacts {
    flex-direction: column;
  }
}
@media only screen and (max-width: 675px) {
  .projects-demo {
    width: 100%;
  }
  .proj-game img {
    height: auto;
  }
  .contacts form {
    gap: 5px;
  }
  .contacts form button {
    margin-bottom: 16px;
  }
  .contacts .contact-links {
    width: 100%;
    display: grid;
    place-items: center;
    align-items: self-start;
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts .contact-links span {
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .contacts .contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
