@import "./variables";

@mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}

*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: $heading;
    background-color: $back;
}

header, .about-container,
.hero, .project-container,
.nav-title, .contacts{
    padding-inline: 12vw 9.5vw;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.material-icons.hidden{
    display: none;
}

.dark{
    background: $backD;
    color: $nText;

    nav a{
        color: $nText;

        &:hover{
            color: $purpleS;
            border-bottom: 3px solid $purpleS;
        }
    }

    main h1 span{
        color: $purpleS;
    }

    main .b2{
        background: $nText;
    }

    main span i{
        color: $purpleS;
    }
    
    main .project-1, 
    main .project-3{
        background: linear-gradient(90deg, $backD 0%, $purple 100%);
    }

    main .project-2{
        background: linear-gradient(90deg, $purple 0%, $backD 100%);
    }

    .proj-desc{
        color: $nText;

        button{
            background: $purpleS;
            color: black;

            &:hover{
                background-color: wheat;
                // transition: 300ms ease-in-out;
            }
        }
    }

    .curves .shape-fill {
        fill: $backD;
    }

    main .contact-container,
    main .contacts{
        background: $purple;
    }

    
}


