@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


/*Colors*/
$purple: hsl(256, 75%, 32%);
$purpleL: hsl(256, 69%, 45%);
$purpleS: hsl(256, 55%, 75%);
$purpleD: hsl(256, 71%, 13%);
$skyBlue: hsl(200, 85%, 52%);
$back: hsl(140, 10%, 94%);
$gray: hsl(0, 5%, 35%);
$green: hsl(125, 92%, 29%);
$greenL: hsl(125, 80%, 36%);
$backD: rgb(30, 30, 32);


/*Fonts*/
$bigFont: 'Russo One', sans-serif;
$heading: 'Poppins', sans-serif;
$desc: 'Roboto', sans-serif;
